<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin principal</title>
</head>
<body>
    <%- include ('../partials/navbaradmin.ejs') %>
    <a href="" class="btn btn-outline-dark">Tatuadores</a>
    <a href="" class="btn btn-outline-dark">Usuarios</a>
    <a href="" class="btn btn-outline-dark">Piercings</a>
    <a href="" class="btn btn-outline-dark">Tatuajes</a>
</body>
</html>